<%= render 'layouts/header', title: 'Friend requests' %>

<main class="container">
  <div class="row mb-3">
    <h2>Friend requests</h2>
  </div>

  <div class="row">
    <ul class="list-group list-group-flush">
      <% @friend_requests.each do |request| %>
        <li class="list-group-item d-flex align-items-center justify-content-between">
          <label ><%= request.user.full_name.titlecase %></label>
          <%= button_to 'Accept request', friend_request_path(id: request.id), class: "btn", method: :put %>
          <% if flash[:message] %>
            <div style="margin-left: 10px;"><%= flash["request-#{request.id}"] %></div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</main>